.btn-user {
  border: 4px double black;
  width: 40%;
  height: 42px;
  margin: auto;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  &:hover {
    color: white;
    border-color: white;
    background-color: black;
  }
  & p {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    padding: 0px !important;
  }
  & i {
    margin-right: 8px;
  }
}

//overrides margins for buttons placed throughout the page
.override-btn-user {
  margin-top: 15px !important;
  width: 20%;
}

.btn-project {
  width: 100%;
  height: 100%;
  border: 4px double black;
  background-color:white;
  display: flex;
  align-items:center;
  justify-content:center;
  cursor: pointer;
  &:hover {
    border: 4px double white;
    background-color: black;
    color: white;
    & h3 {
      font-weight: 500;
    }
  }
  & h3 {
    font-weight: 300;
  }
}

.btn-expand {
  font-size: 30px;
  margin-bottom: 5px;
  cursor: pointer;
  &:hover {
    color: rgba(black, 0.7);
  }
}

// aligns btn within job card div
.container-btn {
  display: flex;
  justify-content:center;
  align-items: flex-end;
  width: 100%;
}
