.btn-user {
  border: 4px double black;
  width: 40%;
  height: 42px;
  margin: auto;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  &:hover {
    color: white;
    border-color: white;
    background-color: black;
  }
  & p {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    padding: 0px !important;
  }
  & i {
    margin-right: 8px;
  }
}
