.content-container {
  background-color: #eceff1;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.wrapper-btn {
  width: 96%;
  height: calc(94% / 2);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: 0;
}

.content-base {
  height: 100%;
  width: 100%;
  left: 0%;
  top: 0%;
  position: absolute;
  background-color: #eceff1;
  z-index: -1;
  overflow: scroll;
}

.content-header {
  width: 90%;
  display: flex;
  align-items:center;
  & hr {
    width: inherit;
  }
  & h5 {
    white-space: nowrap;
    margin-right: 20px;
    width: auto;
    font-weight: bolder;
    font-size: 1.3rem;
  }
}

.hidden {
  display:none !important;
}
