  <div class='navbar-fixed override-nav-box-shadow'>
    <nav class='override-nav z-depth-0'>
      <div class="nav-wrapper">
        <i class="fa fa-angle-double-left brand-logo override-brand-logo left override-icons" id="trigger-back" aria-hidden="true"></i>
        <div class='brand-logo center override-brand-logo-center'>
          <i class="fa fa-folder-open center override-icons" aria-hidden="true"></i>
          Projects
        </div>
        <i class="fa fa-bars button-collapse right hide-on-med-and-up override-hamburger-btn" aria-hidden="true" data-activates="mobile-demo"></i>
        <ul id="nav-mobile" class="right filters">
          <li><i class="fa fa-laptop tooltipped" aria-hidden="true" data-position='bottom' id="product" data-delay="10" data-tooltip="Filter by Product Experience"></i></li>
          <li><i class="fa fa-university tooltipped" aria-hidden="true" data-position='bottom' id="teaching" data-delay="10" data-tooltip="Filter by Teaching Experience"></i><li>
          <li><i class="fa fa-graduation-cap tooltipped" aria-hidden="true" data-position='bottom' data-delay="10" id="education" data-tooltip="Filter by Education"></i><li>
        </ul>
      </div>
    </nav>
  </div>
  <div class='row override-row'>
    <div class="col s12 m12 l6 justify-content override-padding">
      <div class="card sticky-action override-card">
        <div class="card-image waves-effect waves-block waves-light" style="background-color: #FED700;">
          <%= image_tag "logo-mr-cocktail.svg", class: 'logo' %>
        </div>
        <div class="card-content override-card-content">
          <span class="card-title activator grey-text text-darken-4 override-card-title">
            Mr. Cocktail v2
            <a class="btn-floating halfway-fab waves-effect waves-light">
              <i class="fa fa-file-text-o" aria-hidden="true"></i>
            </a>
            <p>Generate fun recipes to describe your friends!</p>
            </span>
        </div>
        <div class="card-action override-card-action">
          <a href="http://mr-ms-cocktail.herokuapp.com" target="_blank" class="tooltipped" data-position='top' data-delay="10" data-tooltip="Visit the Site!"><i class="fa fa-paper-plane" aria-hidden="true"></i></a>
          <a href="https://github.com/dalibran/mr-ms-cocktail-v2" target="_blank" class="tooltipped" data-position='top' data-delay="10" data-tooltip="Github Repo"><i class="fa fa-github" aria-hidden="true"></i></a>
          <a href="https://trello.com/b/Aj5ohjZQ/mr-cocktail-v2" target="_blank" class="tooltipped" data-position='top' data-delay="10" data-tooltip="Trello Board"><i class="fa fa-trello" aria-hidden="true"></i></a>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4 override-card-title">
            Mr. Cocktail v2
            <i class="fa fa-times right" aria-hidden="true"></i>
          </span>
          <p>Mr Cocktail is an awesome app, try that shit yo.</p>
        </div>
      </div>
    </div>
    <div class="col s12 m12 l6 override-padding justify-content">
      <div class="card sticky-action override-card">
        <div class="card-image waves-effect waves-block waves-light override-card-image">
          <img src=http://placehold.it/300x200 alt='stuff' />
        </div>
        <div class="card-content override-card-content">
          <span class="card-title activator grey-text text-darken-4 override-card-title">
            Mr. Cocktail v2
            <a class="btn-floating halfway-fab waves-effect waves-light">
              <i class="fa fa-file-text-o" aria-hidden="true"></i>
            </a>
            <p>Generate fun recipes to describe your friends!</p>
            </span>
        </div>
        <div class="card-action override-card-action">
          <a href="http://mr-ms-cocktail.herokuapp.com" target="_blank" class="tooltipped" data-position='top' data-delay="10" data-tooltip="Visit the Site!"><i class="fa fa-paper-plane" aria-hidden="true"></i></a>
          <a href="https://github.com/dalibran/mr-ms-cocktail-v2" target="_blank" class="tooltipped" data-position='top' data-delay="10" data-tooltip="Github Repo"><i class="fa fa-github" aria-hidden="true"></i></a>
          <a href="https://trello.com/b/Aj5ohjZQ/mr-cocktail-v2" target="_blank" class="tooltipped" data-position='top' data-delay="10" data-tooltip="Trello Board"><i class="fa fa-trello" aria-hidden="true"></i></a>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4 override-card-title">
            Mr. Cocktail v2
            <i class="fa fa-times right" aria-hidden="true"></i>
          </span>
          <p>Mr Cocktail is an awesome app, try that shit yo.</p>
        </div>
      </div>
    </div>
    <div class="col s12 m12 l6 justify-content override-padding">
      <div class="card sticky-action override-card">
        <div class="card-image waves-effect waves-block waves-light override-card-image">
          <img src=http://placehold.it/300x200 alt='stuff' />
        </div>
        <div class="card-content override-card-content">
          <span class="card-title activator grey-text text-darken-4 override-card-title">
            Mr. Cocktail v2
            <a class="btn-floating halfway-fab waves-effect waves-light">
              <i class="fa fa-file-text-o" aria-hidden="true"></i>
            </a>
            <p>Generate fun recipes to describe your friends!</p>
            </span>
        </div>
        <div class="card-action override-card-action">
          <a href="http://mr-ms-cocktail.herokuapp.com" target="_blank" class="tooltipped" data-position='top' data-delay="10" data-tooltip="Visit the Site!"><i class="fa fa-paper-plane" aria-hidden="true"></i></a>
          <a href="https://github.com/dalibran/mr-ms-cocktail-v2" target="_blank" class="tooltipped" data-position='top' data-delay="10" data-tooltip="Github Repo"><i class="fa fa-github" aria-hidden="true"></i></a>
          <a href="https://trello.com/b/Aj5ohjZQ/mr-cocktail-v2" target="_blank" class="tooltipped" data-position='top' data-delay="10" data-tooltip="Trello Board"><i class="fa fa-trello" aria-hidden="true"></i></a>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4 override-card-title">
            Mr. Cocktail v2
            <i class="fa fa-times right" aria-hidden="true"></i>
          </span>
          <p>Mr Cocktail is an awesome app, try that shit yo.</p>
        </div>
      </div>
    </div>
    <div class="col s12 m12 l6 justify-content override-padding">
      <div class="card sticky-action override-card">
        <div class="card-image waves-effect waves-block waves-light override-card-image">
          <img src=http://placehold.it/300x200 alt='stuff' />
        </div>
        <div class="card-content override-card-content">
          <span class="card-title activator grey-text text-darken-4 override-card-title">
            Mr. Cocktail v2
            <a class="btn-floating halfway-fab waves-effect waves-light">
              <i class="fa fa-file-text-o" aria-hidden="true"></i>
            </a>
            <p>Generate fun recipes to describe your friends!</p>
            </span>
        </div>
        <div class="card-action override-card-action">
          <a href="http://mr-ms-cocktail.herokuapp.com" target="_blank" class="tooltipped" data-position='top' data-delay="10" data-tooltip="Visit the Site!"><i class="fa fa-paper-plane" aria-hidden="true"></i></a>
          <a href="https://github.com/dalibran/mr-ms-cocktail-v2" target="_blank" class="tooltipped" data-position='top' data-delay="10" data-tooltip="Github Repo"><i class="fa fa-github" aria-hidden="true"></i></a>
          <a href="https://trello.com/b/Aj5ohjZQ/mr-cocktail-v2" target="_blank" class="tooltipped" data-position='top' data-delay="10" data-tooltip="Trello Board"><i class="fa fa-trello" aria-hidden="true"></i></a>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4 override-card-title">
            Mr. Cocktail v2
            <i class="fa fa-times right" aria-hidden="true"></i>
          </span>
          <p>Mr Cocktail is an awesome app, try that shit yo.</p>
        </div>
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function(){
      $('#trigger-back').click(function() {
        $('.content-base').addClass('hidden');
        $('.content-container').removeClass('hidden');
      });
      Materialize.fadeInImage('.logo')
      $('.tooltipped').tooltip({delay: 150});
    });
  </script>
