<div class="user col l4 m6 s12 offset-l1">

  <div class='user-content center-align'>
    <%= image_tag "dana.png", class: "avatar" %>
    <div class="text-user margins">
      <h4>Dana Alibrandi</h4>
      <p>I'm a technical product manager and instructor based in Los Angeles, California. I specialize in blockchain, cryptocurrency, and decentralized networks. I'm authorized to work in both the US and EU.</p>
    </div>
    <div class="icons margins">
      <ul class="priority-icons">
        <li>
          <a href="https://github.com/dalibran" target="_blank" class="tooltipped" data-position='top' data-delay="10" data-tooltip="Github"><i class="fa fa-github" aria-hidden="true"></i></a>
        </li>
        <li>
          <a href="https://linkedin.com/in/dalibran" target="_blank" class="tooltipped" data-position='top' data-delay="10" data-tooltip="LinkedIn"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
        </li>
        <li>
          <a href="http://blog.danaalibrandi.com" target="_blank" class="tooltipped" data-position='top' data-delay="10" data-tooltip="Medium"><i class="fa fa-medium" aria-hidden="true"></i></a>
        </li>
      </ul>
      <ul class="secondary-icons">
        <li>
          <a href="https://soundcloud.com/dalibran" target="_blank" class="tooltipped" data-position='bottom' data-delay="10" data-tooltip="Soundcloud"><i class="fa fa-soundcloud" aria-hidden="true"></i></a>
        </li>
        <li>
          <a href="https://instagram.com/dalibran" target="_blank" class="tooltipped" data-position='bottom' data-delay="10" data-tooltip="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </li>
      </ul>
    </div>
    <%= link_to '<i class="fa fa-handshake-o" aria-hidden="true"></i><p>  Hire Me</p>', 'http://linkedin.com/messaging/compose', class: 'btn-user' %>
  </div>

</div>
