<div class="user z-depth-2 col l4 s12">
  <%= image_tag "dana.png", class: "avatar" %>
  <div class='user-content center-align'>
    <h4>Dana Alibrandi</h4>
    <p>I'm a full stack developer, technical product manager, and instructor based in Los Angeles, California. I specialize in consumer web development.</p>
  </div>
</div>
