<div class="row" style="margin-bottom: 0px !important;">
  <%= partial 'user' %>
  <div class="content-container col l8 m6 s12">
    <div class="content-base">
      <div class="btn-project">
        <h3>
          <i class="fa fa-folder-open" aria-hidden="true"></i>
          Projects
        </h3>
      </div>
    </div>
    <div class="content-base">
      <div class="btn-project">
        <h3>
          <i class="fa fa-suitcase" aria-hidden="true"></i>
          CV
        </h3>
      </div>
    </div>
  </div>
</div>

