<div class="row override-row">
  <%= partial 'user' %>
<!--   <div class="col l8 m6 s12">

  </div> -->
  <div class="content-container col l8 m6 s12">
    <!-- <div class="diagonal"></div> -->

    <div class="wrapper-btn">
      <div class="btn-project" id="projects">
        <h3>
          <i class="fa fa-folder-open" aria-hidden="true"></i>
          Projects
        </h3>
      </div>
    </div>
    <div class="wrapper-btn">
      <div class="btn-project" id="cv">
        <h3>
          <i class="fa fa-suitcase" aria-hidden="true"></i>
          CV
        </h3>
      </div>
    </div>
    <div class="content-base"></div>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('#projects').click(function () {
      $('.wrapper-btn').css('z-index', -1)
      $('.content-base').css('z-index', 3);
      $('.content-base').html('<%= escape_javascript(partial 'projects') %>')
    });

    $('#cv').click(function () {
      $('.wrapper-btn').css('z-index', -1)
      $('.content-base').css('z-index', 3);
      $('.content-base').html('<%= escape_javascript(partial 'cv') %>')
    });
  });
</script>

